$back_color: #f5f5f5;
$main_color: #ea352d;
$sub_color: #b3d4fc;
$link_color: #0099e8;
$foot_back_color: #212121;
$white_color: #fff;
$black_color: #333;
$icon_color: #ccc;
$border_shadow_color: #eee;
$search_box_color: rgb(102, 102, 102);
$text_shadow_color: rgba(0, 0, 0, 0.4);
