.slick-arrow.slick-prev {
  width: 25px;
  height: 25px;
  background: url("left_arrow.png") no-repeat;
  background-size: 25px 25px;
  background-color: transparent;
  z-index: 1002;
}
.slick-arrow.slick-next {
  width: 25px;
  height: 25px;
  background: url("right_arrow.png") no-repeat;
  background-size: 25px 25px;
  background-color: transparent;
  z-index: 1002;
}
.slick-prev {
  left: 20px;
}
.slick-next {
  right: 20px;
}

.slick-prev:before {
  display: none;
  content: '';
}
.slick-next:before {
  display: none;
  content: '';
}
