@mixin normal_image {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@mixin mini_font {
  font-size: 16px;
  font-weight: 400;
  color: $black_color;
}
@mixin big_font {
  font-size: 20px;
  font-weight: 600;
  color: $black_color;
}
a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.topgage {
  .slider {
    margin: 0;
    padding: 0;
    &__item {
      width: 100%;
      img {
        width: 100%;
        height: 290px;
        @include mq() {
          height: 390px;
        }
      }
    }
  }
  display: block;
  background-color: $white_color;
  .pickup-wrapper {
    padding: 20px 0 0 0;
    background-color: $back_color;
    @include mq(md) {
      padding: 40px 0;
    }
    .pickup-head {
      font-size: 22px;
      text-align: center;
      @include mq(md) {
        font-size: 28px;
      }
    }
    .items-box-wrapper {
      @include mq(md) {
        margin: 0 auto;
        width: 700px;
      }
      @include mq() {
        width: 940px;
      }
      & > h3 {
        margin: 26px 11px;
        font-size: 18px;
        @include mq(md) {
          font-size: 22px;
        }
        a {
          color: $link_color;
        }
      }
      .items-box-content {
        margin: 0 auto;
        width: 92%;
        @include mq(md) {
          width: auto;
        }
        .items-box {
          position: relative;
          float: left;
          background-color: $white_color;
          margin: 0 0 20px 20px;
          width: calc(50% - 30px);
          @include mq(md) {
            margin: 0 0 0 20px;
            width: 213px;
          }
          a {
            display: block;
            color: $black_color;
            &:hover {
              opacity: 1;
              text-decoration: none;
            }
          }
          &__photo {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 0;
            padding: 0 0 100%;
            @include mq(md) {
              width: 213px;
            }
            img {
              @include normal_image;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
              width: 100%;
            }
          }
          &__body {
            padding: 8px;
            height: 110px;
            @include mq(md) {
              padding: 16px;
            }
          }
          &__name {
            @include mini_font;
            overflow: hidden;
            position: relative;
            font-weight: 300;
            height: 3em;
            line-height: 1.5;
            word-break: break-word;
            white-space: normal;
            &::after {
              display: block;
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 50%;
              height: 1.5em;
              background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(72%, $white_color));
              background: linear-gradient(to right, rgba(255,255,255,0), $white_color 72%);
            }
          }
          &__num {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            margin: 8px 0 0;
          }
          &__price {
            @include big_font;
            font-size: 16px;
            @include mq() {
              font-size: 17px;
            }
          }
          &__tax {
            font-size: 10px;
          }
          &__likes {
            @include mini_font;
            .fa-heart-o {
              color: $icon_color;
            }
          }
        }
      }
      .view-all {
        padding: 0 0 30px;
        text-align: right;
        width: 91%;
        @include mq(md) {
          padding: 20px 0 30px;
          width: 99.5%;
        }
        a {
          color: $link_color;
        }
      }
    }
  }
}
