%section.items-box
  = link_to itemdetails_path do
    %figure.items-box__photo
      = image_tag item.images[0].image.url
    .items-box__body
      %h3.items-box__name
        = item.name
      .items-box__num
        .items-box__price ¥ 700
        .items-box__likes
          =fa_icon("heart")
          %span 1
      %p.items-box__tax (税込)
