%section.items-box
  %a{:href => "https://item.mercari.com/jp/m824989204/"}
    %figure.items-box__photo
      %img.items-box__photo__image{:alt => "MISCH MASCHのパーティドレス", "data-src" => "https://static.mercdn.net/thumb/photos/m824989204_1.jpg?1531962146", :src => "https://static.mercdn.net/thumb/photos/m12480789936_1.jpg?1557582225"}/
    .items-box__body
      %h3.items-box__name MISCH MASCHのパーティドレス
      .items-box__num
        .items-box__price ¥ 700
        .items-box__likes
          %i.fa.fa-heart-o{"aria-hidden" => "true"}
          %span 1
      %p.item-box__tax (税込)
%section.items-box
  %a{:href => "https://item.mercari.com/jp/m824989204/"}
    %figure.items-box__photo
      %img.items-box__photo__imaged{:alt => "MISCH MASCHのパーティドレス", "data-src" => "https://static.mercdn.net/thumb/photos/m824989204_1.jpg?1531962146", :src => "https://static.mercdn.net/thumb/photos/m35616867361_1.jpg?1557910935"}/
    .items-box__body
      %h3.items-box__name MISCH MASCHのパーティドレス
      .items-box__num
        .items-box__price ¥ 700
        .items-box__likes
          %i.fa.fa-heart-o{"aria-hidden" => "true"}
          %span 1
      %p.item-box__tax (税込)
%section.items-box
  %a{:href => "https://item.mercari.com/jp/m824989204/"}
    %figure.items-box__photo
      %img.items-box__photo__image{:alt => "MISCH MASCHのパーティドレス", "data-src" => "https://static.mercdn.net/thumb/photos/m824989204_1.jpg?1531962146", :src => "https://static.mercdn.net/thumb/photos/m79124340174_1.jpg?1559479452"}/
    .items-box__body
      %h3.items-box__name MISCH MASCHのパーティドレス
      .items-box__num
        .items-box__price ¥ 700
        .items-box__likes
          %i.fa.fa-heart-o{"aria-hidden" => "true"}
          %span 1
      %p.item-box__tax (税込)
%section.items-box
  %a{:href => "https://item.mercari.com/jp/m824989204/"}
    %figure.items-box__photo
      %img.items-box__photo__image{:alt => "MISCH MASCHのパーティドレス", "data-src" => "https://static.mercdn.net/thumb/photos/m824989204_1.jpg?1531962146", :src => "https://static.mercdn.net/thumb/photos/m87573366685_1.jpg?1560730468"}/
    .items-box__body
      %h3.items-box__name MISCH MASCHのパーティドレス
      .items-box__num
        .items-box__price ¥ 700
        .items-box__likes
          %i.fa.fa-heart-o{"aria-hidden" => "true"}
          %span 1
      %p.item-box__tax (税込)
