<section class="items-box">
  <a href="https://item.mercari.com/jp/m824989204/">
    <figure class="items-box__photo">
      <img data-src="https://static.mercdn.net/thumb/photos/m824989204_1.jpg?1531962146" class="items-box__photo__image" alt="MISCH MASCHのパーティドレス" src="https://static.mercdn.net/thumb/photos/m12480789936_1.jpg?1557582225">
    </figure>
    <div class="items-box__body">
      <h3 class="items-box__name">MISCH MASCHのパーティドレス</h3>
      <div class="items-box__num">
        <div class="items-box__price">¥ 700</div>
        <div class="items-box__likes">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
            <span>1</span>
        </div>
      </div>
      <p class="item-box__tax">(税込)</p>
    </div>
  </a>
</section>
<section class="items-box">
  <a href="https://item.mercari.com/jp/m824989204/">
    <figure class="items-box__photo">
      <img data-src="https://static.mercdn.net/thumb/photos/m824989204_1.jpg?1531962146" class="items-box__photo__imaged" alt="MISCH MASCHのパーティドレス" src="https://static.mercdn.net/thumb/photos/m35616867361_1.jpg?1557910935">
    </figure>
    <div class="items-box__body">
      <h3 class="items-box__name">MISCH MASCHのパーティドレス</h3>
      <div class="items-box__num">
        <div class="items-box__price">¥ 700</div>
        <div class="items-box__likes">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
            <span>1</span>
        </div>
      </div>
      <p class="item-box__tax">(税込)</p>
    </div>
  </a>
</section>
<section class="items-box">
  <a href="https://item.mercari.com/jp/m824989204/">
    <figure class="items-box__photo">
      <img data-src="https://static.mercdn.net/thumb/photos/m824989204_1.jpg?1531962146" class="items-box__photo__image" alt="MISCH MASCHのパーティドレス" src="https://static.mercdn.net/thumb/photos/m79124340174_1.jpg?1559479452">
    </figure>
    <div class="items-box__body">
      <h3 class="items-box__name">MISCH MASCHのパーティドレス</h3>
      <div class="items-box__num">
        <div class="items-box__price">¥ 700</div>
        <div class="items-box__likes">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
            <span>1</span>
        </div>
      </div>
      <p class="item-box__tax">(税込)</p>
    </div>
  </a>
</section>
<section class="items-box">
  <a href="https://item.mercari.com/jp/m824989204/">
    <figure class="items-box__photo">
      <img data-src="https://static.mercdn.net/thumb/photos/m824989204_1.jpg?1531962146" class="items-box__photo__image" alt="MISCH MASCHのパーティドレス" src="https://static.mercdn.net/thumb/photos/m87573366685_1.jpg?1560730468">
    </figure>
    <div class="items-box__body">
      <h3 class="items-box__name">MISCH MASCHのパーティドレス</h3>
      <div class="items-box__num">
        <div class="items-box__price">¥ 700</div>
        <div class="items-box__likes">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
            <span>1</span>
        </div>
      </div>
      <p class="item-box__tax">(税込)</p>
    </div>
  </a>
</section>
