<main class="topgage">
  <section class="slide-wrapper">
    <div class="slider">
      <div class="slider__item">
        <%= image_tag "banner-camp.jpg" %>
      </div>
      <div class="slider__item">
        <%= image_tag "banner-natsukashi.jpg" %>
      </div>
    </div>
  </section>

  <section class="pickup-wrapper">
    <h2 class="pickup-head">ピックアップカテゴリー</h2>
    <section class="items-box-wrapper clearfix">
      <h3 class="text-center">
        <a href="/jp/category/1/">
          レディース 新着アイテム
        </a>
      </h3>
      <div class="items-box-content clearfix">
        <%= render partial: "item" %>
          <!-- colection: @変数 の変数で内容を入れる -->
      </div>
      <div class="view-all">
        <a href="/jp/category/1/">すべての商品を見る</a>
      </div>
    </section>

  </section>
</main>
