@import "./reset.scss";
@import "font-awesome";
@import 'slick';
@import 'slick-theme';
@import "./modules/slick.scss";
@import "./config/colors.scss";
@import "./config/other.scss";
@import "./modules/header.scss";
@import "./modules/sell_btn.scss";
@import "./modules/footer.scss";
@import "./modules/aside.scss";
@import "./modules/toppage.scss";
@import "./modules/general.scss";
@import "./modules/signup.scss";
@import "./modules/font.scss";
@import "./modules/user.scss";
@import "./modules/address.scss";
@import "./modules/flash.scss";
@import "cards";

html,
body {
  margin: 0;
  padding: 0;

  .mercari-wrapper {
    background-color: $background_gray;
    font-family: $mercaris_font;
  }
}