@import "./reset.scss";
@import "font-awesome";
@import 'slick';
@import 'slick-theme';
@import "./modules/layouts/slick.scss";
@import "./config/colors.scss";
@import "./config/other.scss";
@import "./modules/layouts/header.scss";
@import "./modules/layouts/sell_btn.scss";
@import "./modules/layouts/footer.scss";
@import "./modules/layouts/aside.scss";
@import "./modules/toppage.scss";

@import "./modules/item_detail.scss"

/* 商品出品画面のscss */
@import "./modules/exhibition.scss";
@import "./modules/mypage.scss";
@import "./modules/general.scss";
@import "./modules/signup.scss";
@import "./modules/font.scss";
@import "./modules/user.scss";
@import "./modules/user_logout.scss";
@import "./modules/address.scss";
@import "./modules/flash.scss";
@import "./modules/purchases.scss";
@import "cards";

html,
body {
  margin: 0;
  padding: 0;

  .mercari-wrapper {
    background-color: $background_gray;
    font-family: $mercaris_font;
  }
}
